# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
nbproject/
build/
target/
out/

# OS files
.DS_Store
Thumbs.db

